.app-header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.app-footer {
  background-color: lightgray;
  bottom: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100vw;
}

#menu {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 2;
}